*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fw-bold: 700;
  --clr: hsla(220, 9%, 45%, 1);
  --clr: hsla(26, 100%, 55%, 1);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}
