*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-title: 2.75rem;
  --fs-subtitle: 0.8125rem;
  --fw-bold: 700;
  --clr-grey: hsla(220, 9%, 45%, 1);
  --clr-orange: hsla(26, 100%, 55%, 1);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
}

body button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.attribution {
  padding-bottom: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

.github-profile {
  font-weight: var(--fw-bold);
  color: hsla(26, 100%, 55%, 1);
}
