.product {
  width: 70%;
  display: flex;
  margin: 5.625rem auto 3.5rem auto;
  gap: 125px;
}

.product-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-details__company {
  color: var(--clr-orange);
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-bold);
  line-height: 1rem;
  letter-spacing: 2px;
}

.product-details__title {
  margin: 1.7rem 0 2rem 0;
  color: hsla(220, 14%, 13%, 1);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  line-height: 3rem;
}

.product-details__description {
  color: var(--clr-grey);
  line-height: 1.625rem;
}

.product-details__price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1.5rem 0 2rem 0;
}

.product-details__reduction {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-details__price-reduction {
  color: hsla(220, 14%, 13%, 1);
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  line-height: 2.125rem;
}

.product-details__promotion {
  padding: 0.1875rem 10px 0.1875rem 10px;
  border-radius: 6px;
  background-color: hsla(26, 100%, 94%, 1);
  color: var(--clr-orange);
  font-weight: var(--fw-bold);
}

.product-details__real-price {
  text-decoration-line: line-through;
  color: hsla(220, 14%, 75%, 1);
  font-weight: var(--fw-bold);
  line-height: 1.625rem;
}

@media (max-width: 85em) {
  :root {
    --fs-title: 2.5rem;
  }

  .product {
    width: 80%;
    gap: 40px;
  }
}

@media (max-width: 64em) {
  :root {
    --fs-title: 1.875rem;
  }

  .product {
    width: 90%;
  }

  .product-details__title {
    margin: 1.1875rem 0 0.9375rem 0;
  }

  .product-details__price {
    margin: 1.5rem 0;
  }
}

@media (max-width: 48em) {
  :root {
    --fs-title: 1.75rem;
    --fs-subtitle: 0.75rem;
  }

  .product {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    gap: 1.5rem;
  }

  .product-details {
    width: 90%;
  }

  .product-details__company {
    letter-spacing: 1.85px;
    line-height: 0.93rem;
  }

  .product-details__title {
    line-height: 2rem;
  }

  .product-details__description {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }

  .product-details__price {
    flex-direction: row;
    justify-content: space-between;
    margin: 1.75rem 0 1.625rem 0;
  }

  .product-details__price-reduction {
    line-height: 2.1706rem;
  }
}
