header {
  width: 77%;
  min-height: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid hsla(219, 35%, 92%, 1);
}

.logo-hamburger {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu__list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu__list__items {
  position: relative;
  cursor: pointer;
}

.menu__list__items::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -2.875em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease;
  background-color: var(--clr-orange);
}

.menu__list__items:hover::after {
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  gap: 45px;
}

.user__avatar {
  width: 50px;
  height: 50px;
}

.user__avatar:hover {
  box-shadow: 0 0 0 2px var(--clr-orange);
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 85em) {
  header {
    width: 87%;
  }
}

@media (max-width: 64em) {
  header {
    width: 90%;
  }

  .menu {
    gap: 30px;
  }

  .menu__list {
    gap: 20px;
  }

  .user {
    gap: 20px;
  }
}

@media (max-width: 48em) {
  .hamburger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    background-color: hsla(0, 0%, 0%, 0.75);
    transition: 0.5s ease;
  }

  .menu.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease;
  }

  .menu__list {
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    padding: 3rem 0 0 24px;
    transform: translateX(-150%);
    background-color: hsla(0, 0%, 100%, 1);
    transition: 0.5s ease;
  }

  .menu__list.active {
    transform: translateX(0%);
  }

  .menu__close {
    display: block;
    margin-bottom: 1.5rem;
  }

  .menu__list__items {
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
    line-height: 1.625rem;
  }

  .menu__list__items::after {
    display: none;
  }
}

@media (max-width: 25rem) {
  .logo-hamburger {
    gap: 16px;
  }

  .user {
    gap: 15px;
  }

  .user__avatar {
    width: 26px;
    height: 26px;
  }
}
