.user__cart {
  position: relative;
}

.user__cart-button {
  position: relative;
}

.user__cart-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -50%);
  padding: 1px 6px;
  border-radius: 6.5px;
  background-color: var(--clr-orange);
  color: hsla(0, 0%, 100%, 1);
  font-size: 10px;
  font-weight: var(--fw-bold);
}

.modal-cart {
  display: none;
}

.modal-cart.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
  min-width: 360px;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 1;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
}

.modal-cart__name {
  padding: 1.5rem 0 2rem 1.5rem;
  border-bottom: 1px solid hsla(219, 35%, 92%, 1);
  line-height: 1.25rem;
  font-weight: var(--fw-bold);
}

.modal-cart__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 24px;
  gap: 10px;
}

.modal-cart__product-empty {
  margin: auto;
}

.modal-cart__image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.modal-cart__content {
  display: flex;
  flex-direction: column;
}

.modal-cart__product-name {
  color: var(--clr-grey);
  line-height: 1.625rem;
}

.modal-cart__price {
  display: flex;
  gap: 0.375rem;
}

.modal-cart__price__text {
  color: var(--clr-grey);
  line-height: 1.625rem;
}

.modal-cart__price__total {
  color: hsla(220, 13%, 13%, 1);
  font-weight: var(--fw-bold);
  line-height: 1.625rem;
}

.modal-cart__empty {
  color: var(--clr-grey);
  font-weight: var(--fw-bold);
}

.modal-cart__pay-button {
  margin: 0 24px 1rem 24px;
  padding: 1.375rem 0 18px 0;
  border-radius: 10px;
  color: hsla(0, 0%, 100%, 1);
  background-color: var(--clr-orange);
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

@media (max-width: 85em) {
  .modal-cart.active {
    transform: translate(-60%, 15%);
  }
}

@media (max-width: 64em) {
  .modal-cart.active {
    transform: translate(-70%, 15%);
  }
}

@media (max-width: 48em) {
  .modal-cart.active {
    transform: translate(-75%, 15%);
  }
}

@media (max-width: 25em) {
  .user__cart {
    position: static;
  }

  .user__cart-count {
    transform: translate(30%, -50%);
  }

  .modal-cart.active {
    min-width: 95%;
    top: 50%;
    transform: translate(-50%, -150%);
  }
}
