.product-images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-images__cross-button {
  display: none;
}

.product-slider__previous-button {
  display: none;
}

.product-slider__main-button {
  display: flex;
  background: transparent;
  border: none;
  cursor: zoom-in;
}

.product-slider__main-image {
  width: 445px;
  border-radius: 15px;
}

.product-slider__next-button {
  display: none;
}

.product-thumbnail {
  display: flex;
  gap: 30px;
}

.product-thumbnail__buttons {
  border: none;
  background: transparent;
  cursor: pointer;
}

.product-thumbnail__buttons:hover {
  opacity: 0.5;
}

.product-thumbnail__images {
  width: 88px;
  border-radius: 10px;
}

.product-modal-images {
  display: none;
}

.product-modal-images.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.75);
}

@media (max-width: 64em) {
  .product-images {
    justify-content: center;
  }

  .product-slider__main-image {
    width: 370px;
  }

  .product-thumbnail__images {
    width: 70px;
  }
}

@media (max-width: 48em) {
  .product-slider__main-image {
    width: 100%;
    border-radius: 0px;
  }

  .product-thumbnail {
    display: none;
  }
}
