.product-buy {
  display: flex;
  gap: 16px;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  border-radius: 10px;
  background-color: hsla(220, 59%, 98%, 1);
}

.product-quantity__operator {
  display: flex;
  padding: 1.25rem 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.product-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1em;
  gap: 16px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: hsla(26, 100%, 55%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-weight: var(--fw-bold);
  line-height: 1.25rem;
  cursor: pointer;
}

@media (min-width: 91em) {
  .product-quantity {
    flex-grow: 1;
  }
}

@media (max-width: 85em) {
  .product {
    width: 80%;
    gap: 40px;
  }

  .product-details__title {
    font-size: 2.1875rem;
  }

  .product-buy {
    flex-direction: column;
  }
}

@media (max-width: 48em) {
  .product-quantity {
    justify-content: space-between;
    padding: 1.5rem 1.375rem;
  }

  .product-cart {
    padding: 1.1875rem 0;
    box-shadow: 0px 20px 50px -20px #ff7e1b;
  }
}
